<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanchu.test"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="aandroid.permission.WRITE_SETTINGS" />
    
    

    <!-- 支持多种分辨率，得到正确的物理尺寸 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:name=".TestApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vanchu.test.ComponentTestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100645243" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vanchu.libs.upgrade.UpgradeActivity"
            android:label="@string/title_activity_upgrade" >
        </activity>
        <activity
            android:name="com.vanchu.test.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity android:name="com.vanchu.sample.GestureLockSampleActivity" >
        </activity>
        <activity android:name="com.vanchu.sample.SmileSampleActivity" >
        </activity>
        <activity android:name="com.vanchu.sample.ScrollListViewSampleActivity" >
        </activity>
        <activity android:name="com.vanchu.sample.ImageLoadSampleActivity" >
        </activity>

        <!-- 插件系统 -->
        <!-- <receiver android:name="com.vanchu.test.PackageReceiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED" /> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REPLACED" /> -->
        <!-- <data android:scheme="package"></data> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- 推送模块 -->
        <service android:name="com.vanchu.test.TestPushService" />

        <receiver android:name="com.vanchu.test.TestPushBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 百度定位sdk service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        

        <activity
            android:name="com.vanchu.test.WebCacheActivity"
            android:label="@string/title_activity_test_feedback" >
        </activity>
        <activity
            android:name="com.vanchu.test.TestFeedbackActivity"
            android:label="@string/title_activity_test_feedback" >
        </activity>
        <activity
            android:name="com.vanchu.test.TestPluginSystemActivity"
            android:label="@string/title_activity_test_push_system" >
        </activity>
        <activity
            android:name="com.vanchu.test.ThreeActivity"
            android:label="@string/title_activity_three" >
        </activity>
        <activity android:name="com.vanchu.test.CropActivity" >
        </activity>
        <activity
            android:name="com.vanchu.sample.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <activity
            android:name="com.vanchu.sample.AnimationActivity"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name="com.vanchu.test.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.vanchu.test.MediaPlayerActivity"
            android:label="@string/title_activity_media_player" >
        </activity>
        <activity
            android:name="com.vanchu.sample.TestOldMusicServiceActivity"
            android:label="@string/title_activity_test_service" >
        </activity>

        <service android:name="com.vanchu.libs.music.OldMusicService" />
        <service android:name="com.vanchu.module.music.VanchuMusicService" />
        <service android:name="com.vanchu.module.music.SceneMusicService" />

        <activity
            android:name="com.vanchu.sample.MusicServiceActivity"
            android:label="@string/title_activity_music_service"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.vanchu.sample.DbActivity"
            android:label="@string/title_activity_db" >
        </activity>
        <activity
            android:name="com.vanchu.test.TestCfgMgrActivity"
            android:label="@string/title_activity_test_cfg_center" >
        </activity>
        <activity
            android:name="com.vanchu.sample.MusicSceneServiceActivity"
            android:label="@string/title_activity_music_scene_service" >
        </activity>
        <activity
            android:name="com.vanchu.test.TestMusicSceneMgrActivity"
            android:label="@string/title_activity_test_music_scene_mgr" >
        </activity>
        <activity
            android:name="com.vanchu.test.TestKvDbActivity"
            android:label="@string/title_activity_test_kv_db" >
        </activity>
        <activity
            android:name="com.vanchu.test.TestEventCenterActivity"
            android:label="@string/title_activity_test_event_center" >
        </activity>
        <activity
            android:name="com.vanchu.sample.VanchuTabSampleActivity"
            android:label="@string/title_activity_vanchu_tab_sample" >
        </activity>
        <activity
            android:name="com.vanchu.sample.QqSdkSampleActivity"
            android:label="@string/title_activity_qq_sdk_sample" >
        </activity>
        <activity
            android:name="com.vanchu.sample.SinaSdkSampleActivity"
            android:label="@string/title_activity_sina_sdk_sample" >
        </activity>
        <activity
            android:name="com.vanchu.sample.AccountSystemActivity"
            android:label="@string/title_activity_account_system" >
        </activity>
        <activity android:name="com.vanchu.sample.PictureBrowserSampleActivity" >
        </activity>
        <activity android:name="com.vanchu.sample.slipping.GuimiSlippingActivity" >
        </activity>
        <activity
            android:name="com.vanchu.test.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_wxentry" >
        </activity>
        <activity android:name="com.vanchu.sample.AddressActivity" >
        </activity>
        <activity
            android:name="com.vanchu.test.TestCachedImageLoaderActivity"
            android:label="@string/title_activity_test_cached_image_loader" >
        </activity>
        <activity
            android:name="com.vanchu.test.AnotherTestActivity"
            android:label="@string/title_activity_another_test" >
        </activity>
        <activity
            android:name="com.vanchu.sample.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="com.vanchu.sample.SocketClientSampleActivity"
            android:label="@string/title_activity_socket_channel_sample"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.vanchu.sample.VasClientSampleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.vanchu.sample.TalkClientSampleActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>