<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanchu.test"
    android:versionCode="1"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
   
    

    <uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vanchu.test.ComponentTestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vanchu.libs.upgrade.UpgradeActivity"
            android:label="@string/title_activity_upgrade" >
        </activity>
        <activity
            android:name="com.vanchu.test.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        
        <!-- 推送模块 -->
        <service android:name="com.vanchu.test.TestPushService" />
        <receiver android:name="com.vanchu.test.TestPushBroadcastReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
